SECRET_KEY=any-random-string-here


# Database configuration
DB_NAME=callsight
DB_USER=callsight_user
DB_PASSWORD=callsight_pass
DB_HOST=localhost
DB_PORT=5432

# Redis configuration
REDIS_URL=redis://localhost:6379/0

# Celery configuration
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0