backend/venv/
__pycache__/
*.pyc
*.pyo
*.DS_Store
# Ignore the .env file that contains sensitive information
.env
# Ignore the logs directory
backend/staticfiles
backend/mediafiles
docker-compose.override.yml
.env.docker
backend/Dockerfile.mac
backend/requirements.mac.txt
ai_pipeline/Dockerfile.mac
ai_pipeline/requirements.mac.txt
infra/nginx.local.conf
